* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: font-bold;
    src: url('./Fonts/Demo_Fonts/Fontspring-DEMO-proximanova-bold.otf');
}

@font-face {
    font-family: font-regular;
    src: url('./Fonts/Demo_Fonts/Fontspring-DEMO-proximanova-regular.otf');
}

.slides {
    display: flex;
    overflow-x: hidden;
}

.slider-container {
    position: relative;
}

.slide-1 {
    background: url(./Images/slider-image1.jpg);
    overflow: hidden;
}

.slide-2 {
    background: url(./Images/slider-image2.jpg);
    overflow: hidden;
}

.slide-3 {
    background: url(./Images/slider-image3.jpg);
    overflow: hidden;
}

.slide {
    flex: 0 0 100%;
    width: 100%;
    height: 720px;
    background-size: cover;
    background-position: top;
    position: relative;
    overflow-x: hidden;

}

.arrow {
    position: absolute;
    top: 360px;
    /* transform: translateX(-50%); */
    border-radius: 50%;
    transform: background 500ms;
    cursor: pointer;
    z-index: 10;
}

.arrow img {
    width: 30px;
    opacity: 0.3;
}

.l {
    left: 0;
}

.r {
    right: 0;
}

.logo {
    width: 100px;
    height: 100px;
    margin-right: 63px;
    padding: 0;
    cursor: pointer;
}

/* MENU BAR */

.header-container {
    margin: 21px 175px;
    position: fixed;
    z-index: 11;
    max-width: 1000px;
}

.header-wrapper {
    display: flex;
}

.navbar-menu-wrapper {
    margin: 0;
    padding: 0;
}

.navbar-wrapper {
    display: flex;
    font-family: font-bold;
    font-size: 13px;
    color: white;
}

.navbar-menu {
    display: flex;
    width: 498px;
    margin-left: 515px;
    padding: 25px 0px;
    list-style: none;
    align-items: center;
}

.menu {
    text-align: left;
    text-decoration: none;
}


.menu-1 {
    line-height: 40px;
    letter-spacing: 0.4;
    margin-right: 3px;
    padding: 0px 15px;
}

.menu-1 a {
    text-decoration: none;
    color: white;
}

.menu-1 a:hover {
    border-top: 3px solid #89a831;
}

.menu-2 {
    line-height: 40px;
    letter-spacing: 0.4;
    margin-right: 3px;
    padding: 0px 15px;
}

.menu-2 a {
    text-decoration: none;
    color: white;
}

.menu-2 a:hover {
    border-top: 3px solid #89a831;
}

.menu-3 {
    line-height: 40px;
    letter-spacing: 0.4;
    margin-right: 3px;
    padding: 0px 15px;
}

.menu-3 a {
    text-decoration: none;
    color: white;
}

.menu-3 a:hover {
    border-top: 3px solid #89a831;
}

.menu-4 {
    line-height: 36px;
    letter-spacing: 0.4;
    padding: 0px 20px;
    margin: 7px 15px;
    border-radius: 26px;
    background-color: #89a831;
}

.menu-4 a {
    text-decoration: none;
    color: white;
}

.menu-4:hover {
    background-color: #97ba37;
}

/* SLIDER NAV */

.slide-layer-container {
    margin: 138px 175px;
    overflow-y: auto;
}

.line {
    opacity: 0.2;
    margin: 0;
    padding: 0;
}

.tab {
    color: white;
    font-family: font-bold;
    font-size: 10px;
    padding: 15px 0px;
}

.tab a{
    text-decoration: none;
    color: white;
}

.tabs {
    display: flex;
}

.tab1 {
    margin-right: 58px;
    border-top: 3px solid white;
}

.tab2 {
    margin-right: 58px;
    opacity: 0.3;
}

.tab3 {
    opacity: 0.3;
}

.tab4 {
    margin-right: 58px;
    opacity: 0.3;
}

/* LAYER-TEXT */

.sub-text {
    color: #90a1a3;
    opacity: 0.4;
    font-size: 20px;
    font-family: font-regular;
    margin-top: 56px;
    margin-bottom: 35px;
}

.main-text {
    font-family: font-bold;
    font-size: 76px;
    margin: 0;
    padding: 0;
}

.main-text1 {
    color: white;
    display: block;
    line-height: 63px;
}

.main-text2 {
    color: #cde097;
    line-height: 63px;
}

.main-text3 {
    color: #89a831;
    line-height: 63px;
}

.buttons {
    display: flex;
    margin-top: 37px;
    margin-bottom: 2px;
    width: 455px;
}

.btn1 {
    border: none;
    outline: none;
    height: 52px;
    width: 160px auto;
    padding: 0px 52px;
    margin-right: 14px;
    border-radius: 26px;
    font-family: font-bold;
    font-size: 12px;
    letter-spacing: 3px;
    color: white;
    background-color: #89a831;
}

.btn2 {
    border: none;
    outline: none;
    height: 52px;
    width: 160px auto;
    padding: 0px 52px;
    border-radius: 26px;
    font-family: font-bold;
    font-size: 12px;
    letter-spacing: 3px;
    color: white;
    background: transparent;
    border: 1px solid 
}

.img {
    z-index: 10;
    width: 341px;
    height: 218px;
}

.img-flex {
    display: flex;
}

.product-details {
    margin-left: 291px;
    margin-top: 175px;
    display: flex;

}

.prod-desc {
    color: #fff;
}

.prod-head {
    font-family: font-bold;
    font-size: 12px;
    text-align: right;
}

.prod-text {
    font-family: font-regular;
    font-size: 10px;
    text-align: right;
    line-height: 20px;
}

.prod-icon {
    width: 20px;
    height: 20px;
    background-color: #89a831;
    padding: 20px;
    border-radius: 30px;
    margin-left: 20px;
    align-items: center;
}

.prod-desc-icon {
    display: flex;
    width: 500px;
    position: absolute;
    align-items: center;
    margin-top: 160px;
    margin-left: -180px;
}

.fa-eye {
    font-size: 20px;
    align-items: center;
}

.icon {
    margin-top: 165px;
}

.icon3 {
    margin-left: -215px;
}

.green-text {
    color: #89a831;
}

.img2 {
    width: 260px;
    height: 215px;
    margin-left: 72px;
}

.img3 {
    width: 264px;
    height: 308px;
    margin-left: 75px;
    margin-top: -5px;
}



  